.home{
    background-color: #0f103f;
    width: 100%;
    height: 1024px;
    overflow: hidden;

}

.home-container{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.svg-1{
    display: block;
    position: absolute;
    top: -10%;
    left: -10%;
    animation: animatedhomeglobe ease 3s infinite;
}

@keyframes animatedhomeglobe{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(-3%);
    }

    100%{
        transform: translateY(0%);
    }
}


.svg-2{
    display: block;
    position: absolute;
    bottom: 0%;
    left: 40%;
    animation: animatedhome ease 3s infinite;
}

@keyframes animatedhome{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(-3%);
    }

    100%{
        transform: translateY(0%);
    }
}

.home-text{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 70px;
}

.home-h2{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    color: #fff;
    margin-right: 20px;
    max-width: 700px;
    margin-bottom: 60px;
}

.hire-button{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 143%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 67px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(23.15133285522461px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    display: inline-block;
}

.cv-button{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 143%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 43px;
    box-shadow: 0 10px 20px 0 rgba(8, 12, 33, 0.15);
    background: linear-gradient(169deg, #c961de 0%, #2954a3 100%);
    border-radius: 30px;
    display: inline-block;
    margin-left: 20px;
}

@media (max-width:576px){
    .home-h2{
        font-size: 45px;
    }

    .home-text{
        margin-left: 60px;
    }

    .home-buttons{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .cv-button{
        margin-left: 0;
        margin-top: 20px;
    }

    .home{
        height: 900px;
    }
}
